#service-frame {
 width: 100%;
 height: 720px;
 border: 0 solid #AAAAAA;
}

#index-frame {
 width: 100%;
 height: 720px;
 border: 1 solid #AAAAAA;
}

#store-frame {
 width: 100%;
 height: 720px;
 border: 1 solid #AAAAAA;
}

.prop {
  font-size: larger;
  font-weight: bold;
}

.prop-value {
  margin: 0.3em 3em 0.6em 2em;
}

.prop-key-val{
  display: block;
  margin: 0.3em 3em 0.4em 2em;
}

.prop-key {
  display: inline-block; 
  font-weight: bold;
  width: 10em;
  margin: 0em;
}

.prop-val {
  display: inline-block;
  width: 5em;
  text-align: right;
  margin: 0em;
}



