.AFLinkForeground:alias {
    color: #122090;
    text-decoration:underline;
}


.AFActiveLinkForeground:alias {
    color: #5cbfe3;
    text-decoration:none;
}

.AFVisitedLinkForeground:alias {
    color: #3e1c90;
    text-decoration:underline;
}

.AFDisabledLinkForeground:alias {
    color: #666666;
    text-decoration: none;
}


/* default anchors */

.contents a:link {
    color: #122090;
    text-decoration: underline;
}

.contents a:visited {
    color: #3e1c90;
    text-decoration: underline;
}

.contents a:hover, .contents a:active {
    color:#5cbfe3;
    text-decoration: none;
}

.contents .alink {
    font-size: 9pt;
    color: #122090;
    text-decoration: underline;
}

.contents .ahoverlink {
    font-size: 9pt;
    color:#5cbfe3;
    text-decoration: none;
}

.contents .pipe{
    color: #122090;
}

/* default anchors bold*/

.contents a.greenbold:link, .contents a.greenbold:visited {
    font-weight:bold;
}

.contents a.greenbold:hover, .contents a.greenbold:active {
    font-weight:bold;
}

.contents .greenbold {
    color: #122090;
    font-weight:bold;
}

.contents a.greenboldsmall2:link, .contents a.greenboldsmall2:visited {
    font-weight:bold;
}

.contents a.greenboldsmall2:hover, .contents a.greenboldsmall2:active {
    font-weight:bold;
}

.contents .greenboldsmall2 {
    font-size:9pt;
    color: #122090;
    font-weight:bold;
}



/** table and column  **/
/************************/

af|column::header-text {
    font-size: 9pt;
    padding: 3px;
    vertical-align: top;
    color: #1F1F1F;
    background-color: #e9e8e8;
    border: 1px solid #ADADAF;
}

af|panelBox::light af|panelBox::header {
    background: #C8C8C8 repeat-x scroll right top;
    border-collapse: collapse;
    border-width: 0px 0px 1px;
    color: #1F1F1F;
    font-weight: bold;
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 3px 4px 4px 5px;
    text-align: left;
}

af|panelBox::light af|panelBox::content {
    background: transparent repeat-x scroll right top;
    margin: 0px 0px 0px 2px;
    padding: 3px 4px 5px;
    vertical-align: top;
}

af|panelTabbed::tab {
    background:transparent repeat-x scroll right top;
    border:1px solid #999999;
    cursor:pointer;
    font-size:12px;
    height:30px;
    text-decoration:none;
}

af|column::cell-text {
    background-color: #f4f4f4;
}

af|table::column-footer{
    font-size: 9pt;
    padding: 3px;
    vertical-align: top;
    color: #1F1F1F;
    background-color: #e9e8e8;
    border: 1px solid #ADADAF;
}

/** messages **/
/**************/

af|messages::body,
af|messages::content,
af|messages::top,
af|messages::bottom,
af|messages::start,
af|messages::end {
    background:#e9e8e8 none repeat scroll 0%;
    border-color: #BFBFBF;
    letter-spacing:0;
}

af|messages::top {
    border-top-width: 1px;
    border-top-style: solid;
}

af|messages::bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

af|messages::start {
    border-left-width: 1px;
    border-left-style: solid;
}

af|messages::end {
    border-right-width: 1px;
    border-right-style: solid;
}

af|messages::top-start,
af|messages::top-end:rtl {
    background-image: url(/skins/imex/images/rounded_TL.gif);
    width:6px;
    height:6px
}

af|messages::top-end,
af|messages::top-start:rtl {
    background-image: url(/skins/imex/images/rounded_TR.gif);
    width:6px;
    height:6px
}

af|messages::bottom-start,
af|messages::bottom-end:rtl {
    background-image: url(/skins/imex/images/rounded_BL.gif);
    width:6px;
    height:6px
}

af|messages::bottom-end,
af|messages::bottom-start:rtl {
    background-image: url(/skins/imex/images/rounded_BR.gif);
    width:6px;
    height:6px
}

af|messages::header {
    color: #1F1F1F;
    font-size: 9pt;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0 0 0;
    text-align: left;
}

af|messages::body {
    background:#e9e8e8 none repeat scroll 0%;
    color: #1F1F1F;
}

af|messages::list-single {
    color: #1F1F1F;
    font-size: 9pt;
}

/** panelHeader **/
/** ----------- **/
af|panelHeader {
    padding: 4px 4px 4px 6px;
    background-color: #DDDDDD;
    border: 1px solid #999999;
    vertical-align: middle;
}

af|panelHeader::level-one
{
    font-size: 11pt;
    color: #1F1F1F;
    padding: 4px;
    background: #e9e8e8;
    border: 1px solid #bfbfbf;
    margin: 5px 0px 10px 0px;
    font-weight: bold;
}

af|panelHeader::level-two,
af|panelTabbed::body af|panelHeader::level-one {
    background: #FFFFFF none repeat scroll 0%;
    border-color: -moz-use-text-color -moz-use-text-color #D9DADC;
    border-style: none none solid;
    border-width: 0px 0px 1px;
    color: #1F1F1F;
    font-size: 10pt;
    font-weight: bold;
    margin: 25px 0px 5px;
    padding: 0pt;
}

#globalErrorMsg h1 {
    font-size: 11pt;
    color: #1F1F1F;
    padding: 0px;
    background: #e9e8e8;
    border: 0;
    margin: 0;
    font-weight: bold;
}

table td.OraShuttleHeader {
    height: auto;
    background-color: transparent;
    color: #000000;
    overflow: visible;
    font-family: helvetica, "trebuchet MS", arial, sans-serif;
    font-weight: bold;
    font-size: 9pt;
    margin: 0;
    padding: 4px 0px 0px 4px;

}

af|panelPopup::container {
    border-color: #bfbfbf;
}

af|panelPopup::content {
    background:  #e9e8e8 repeat-x scroll right top;
    vertical-align: top;
    padding: 5px;
}

#helpPopUp_popupContainer af|panelPopup::content {
    background: white !important;
}

#helpClusterPopUp_popupContainer af|panelPopup::content {
    background: white !important;
}

#helpPopUp_popupContainer table {
    background-color: #e9e8e8;
}
