.AFDarkForeground:alias {
 color:#000000;
}
.AFDefaultFontFamily:alias {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;  
}
.AFRequiredIconStyle {  
  color: #CC0000;
  -tr-rule-ref: selector(".AFDefaultFont:alias");  
}
af|inputDate::launch-icon
{
  content: url(/images/calendar_icon.gif);
}
af|inputListOfValues::button-icon
{
  content: url(/images/search.gif);
}
af|column::cell-text
{
  background-color: #D9D9D9;
}
af|table::column-footer
{
  background-color:#0066FF;
  color:#FFFFFF;
}
af|column::header-text
{
  background-color:#0066FF;
  color:#FFFFFF;
}