<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                         http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">
<!-- ===========================================================================
 ! $HeadURL:: https://lukasz@imex.mbi.ucla.edu/svn/central/trunk/etc/icent#    $
 ! $Id:: web.xml 234 2012-02-14 16:40:33Z lukasz                               $
 ! Version: $Rev:: 234                                                         $
 !==============================================================================
 !                                                                        
 ! Extensible PSICQUIC Server: Web Application configuration file
 !                                                                        
 !========================================================================== -->

  <display-name>PSICQUIC Modular Server</display-name>

<!-- ===================================================== ================= -->
<!-- ===================================================== = CONTEXT setup = -->
<!-- ===================================================== ================= -->

  <!-- ====================================================== TILES context  -->

  <context-param>
    <param-name>
      org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
    </param-name>
    <param-value>
      /WEB-INF/classes/tiles.xml
    </param-value>
  </context-param>  

  <!-- ===================================================== SPRING context  -->

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/spring-context.xml</param-value>
  </context-param>

<!-- ===================================================== ================= -->
<!-- ===================================================== = FILTERS setup = -->
<!-- ===================================================== ================= -->

  <!-- ====================================================== STRUTS2 filter -->
  <filter>

    <filter-name>struts</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
    </filter-class>

    <init-param>
     <param-name>actionPackages</param-name>
     <param-value>org.hupo.psi.mi.psicquic.server.struts.action</param-value>
    </init-param>

  </filter>

  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>/recordmgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>/mpsqmgr</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>

  <!-- ===================================================== PsqStore filter -->

  <filter>
    <filter-name>PsqStoreRequestFilter</filter-name>

    <filter-class>
      org.hupo.psi.mi.psicquic.server.PsqStoreDispatchFilter
    </filter-class>
    
    <init-param>
      <param-name>derby-home</param-name>
      <param-value>derby</param-value>
    </init-param>

    <init-param>
      <param-name>berkeleydb-home</param-name>
      <param-value>bdb</param-value>
    </init-param>
    
  </filter>

  <!-- 
    NOTE:
     Used only to configure derby home location; no filtering
  --> 

  <!--
  <filter-mapping>
    <filter-name>PsqStoreRequestFilter</filter-name>
    <url-pattern>/derby/*</url-pattern>
  </filter-mapping>
  -->
  <!-- ========================================================= SOLR filter -->

  <filter>
    <filter-name>SolrRequestFilter</filter-name>

    <filter-class>
      org.hupo.psi.mi.psicquic.server.PsqSolrDispatchFilter
    </filter-class>
    
    <init-param>
      <param-name>path-prefix</param-name>
      <param-value>/solr</param-value>
    </init-param>

    <init-param>
      <param-name>solr-home</param-name>
      <param-value>solr</param-value>
    </init-param>
    
  </filter>

  <filter-mapping>
    <filter-name>SolrRequestFilter</filter-name>
    <url-pattern>/solr/*</url-pattern>
  </filter-mapping>


<!-- =================================================== =================== -->
<!-- =================================================== = LISTENERS setup = -->
<!-- =================================================== =================== -->

  <!-- ============================================== STRUTS2/TILES listener -->

  <listener>
    <listener-class>
      org.apache.struts2.tiles.StrutsTilesListener
    </listener-class>
  </listener>

  <!-- ===================================================== SPRING listener -->

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

<!-- =================================================== =================== -->
<!-- =================================================== = Servlet startup = -->
<!-- =================================================== =================== -->

  <!-- ================================================= Web service servlet -->

  <servlet>
    <servlet-name>cxf-service</servlet-name>
    <display-name>cxf-service</display-name>
    <description>Apache CXF Endpoint</description>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>

    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- ======================================================= SOLR servlets -->

  <servlet>
    <servlet-name>SolrServer</servlet-name>
    <display-name>Solr</display-name>
    <description>Solr Server</description>
    <servlet-class>org.apache.solr.servlet.SolrServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SolrUpdate</servlet-name>
    <display-name>SolrUpdate</display-name>
    <description>Solr Update Handler</description>
    <servlet-class>org.apache.solr.servlet.SolrUpdateServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Logging</servlet-name>
    <servlet-class>org.apache.solr.servlet.LogLevelSelection</servlet-class>
    <load-on-startup>4</load-on-startup> 
  </servlet>

<!-- =================================================== =================== -->
<!-- =================================================== = Servlet mapping = -->
<!-- =================================================== =================== -->

  <!-- ================================================ Web Service mappings -->

  <servlet-mapping>
    <servlet-name>cxf-service</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <!-- ======================================================= SOLR mappings -->

  <servlet-mapping>
    <servlet-name>SolrServer</servlet-name>
    <url-pattern>/select/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SolrUpdate</servlet-name>
    <url-pattern>/update/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logging</servlet-name>
    <url-pattern>/solr/admin/logging</url-pattern>
  </servlet-mapping>

<!-- -->
  <servlet-mapping>
    <servlet-name>SolrServer</servlet-name>
    <url-pattern>/solr/select/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>SolrUpdate</servlet-name>
    <url-pattern>/solr/update/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SolrServer</servlet-name>
    <url-pattern>/solr/psq-01/select/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SolrUpdate</servlet-name>
    <url-pattern>/solr/psq-01/update/*</url-pattern>
  </servlet-mapping>

<!-- ====================================================== ================ -->
<!-- ====================================================== = MIME mapping = -->
<!-- ====================================================== ================ -->

  <mime-mapping>
   <extension>inc</extension>
   <mime-type>text/plain</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>.xsl</extension>
    <!-- per http://www.w3.org/TR/2006/PR-xslt20-20061121/ -->
    <mime-type>application/xslt+xml</mime-type>
  </mime-mapping>
  
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->

  <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>

<!-- ============================================ ========================== -->
<!-- ============================================ = Manager Access Control = -->
<!-- ============================================ ========================== -->
<!--
 <security-constraint>
    <web-resource-collection>
      <web-resource-name>xPsq Manager</web-resource-name>
      <url-pattern>/solr/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>xpsq-manager</role-name>
    </auth-constraint>
  </security-constraint>
-->
  <!-- Login Configuration -->
<!--
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Xpsq Manager</realm-name>
  </login-config>
-->
  <!-- Security roles -->
<!--
  <security-role>
    <description>
      The role required to log in to the xPsq Manager pages
    </description>
    <role-name>xpsq-manager</role-name>
  </security-role>
-->
</web-app>
