<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                         http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">
<!-- ===========================================================================
 ! $HeadURL:: https://lukasz@imex.mbi.ucla.edu/svn/central/trunk/etc/icent#    $
 ! $Id:: web.xml 234 2012-02-14 16:40:33Z lukasz                               $
 ! Version: $Rev:: 234                                                         $
 !==============================================================================
 !                                                                        
 ! PSICQUIC Reference Server: Web Application configuration file
 !                                                                        
 !========================================================================== -->

  <display-name>PSICQUIC Reference Server</display-name>


 <!-- Uncomment if you are trying to use a Resin version before 3.0.19.
    Their XML implementation isn't entirely compatible with Xerces.
    Below are the implementations to use with Sun's JVM.
  <system-property javax.xml.xpath.XPathFactory=
             "com.sun.org.apache.xpath.internal.jaxp.XPathFactoryImpl"/>
  <system-property javax.xml.parsers.DocumentBuilderFactory=
             "com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl"/>
  <system-property javax.xml.parsers.SAXParserFactory=
             "com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl"/>
   -->

  <env-entry>
       <env-entry-name>solr/home</env-entry-name>
       <env-entry-value>solr</env-entry-value>
       <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

<!-- ========================================================= ============= -->
<!-- ========================================================= CONTEXT setup -->
<!-- ========================================================= ============= -->

  <context-param>

  <!-- ====================================================== TILES context  -->
<!--
    <param-name>
      org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
    </param-name>
    <param-value>
      /WEB-INF/tiles.xml
    </param-value>
-->
  <!-- ===================================================== SPRING context  -->

    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/spring-context.xml</param-value>

  </context-param>

<!-- ========================================================= ============= -->
<!-- ========================================================= FILTERS setup -->
<!-- ========================================================= ============= -->

  <!-- ====================================================== STRUTS2 filter -->

  <filter>
    <filter-name>struts</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
    <init-param>
        <param-name>actionPackages</param-name>
        <param-value>org.hupo.psi.mi.psicquic.server.struts.action</param-value>
        </init-param>
  </filter>

  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>/recordmgr</url-pattern>
  </filter-mapping>

  <!-- ========================================================= SOLR filter -->

 <!-- Any path (name) registered in solrconfig.xml will be sent to that filter -->
  <filter>
    <filter-name>SolrRequestFilter</filter-name>
    <filter-class>org.apache.solr.servlet.SolrDispatchFilter</filter-class>
    <!-- If you are wiring Solr into a larger web application which controls
         the web context root, you will probably want to mount Solr under
         a path prefix (app.war with /app/solr mounted into it, for example).
         You will need to put this prefix in front of the SolrDispatchFilter
         url-pattern mapping too (/solr/*), and also on any paths for
         legacy Solr servlet mappings you may be using.
         For the admin JSP's to work properly in a path-prefixed configuration,
         the admin folder containing the JSPs needs to be under the app context root
         named to match the path-prefix.  For example:

            .war
               xxx
                 admin
                   stats.jsp
    -->
    
    <init-param>
      <param-name>path-prefix</param-name>
      <param-value>/solr</param-value>
    </init-param>
    
  </filter>

 <filter-mapping>
    <!--
      NOTE: When using multicore, /admin JSP URLs with a core specified
      such as /solr/coreName/admin/stats.jsp get forwarded by a
      RequestDispatcher to /solr/admin/stats.jsp with the specified core
      put into request scope keyed as "org.apache.solr.SolrCore".

      It is unnecessary, and potentially problematic, to have the SolrDispatchFilter
      configured to also filter on forwards.  Do not configure
      this dispatcher as <dispatcher>FORWARD</dispatcher>.
    -->
    <filter-name>SolrRequestFilter</filter-name>
    <url-pattern>/solr/*</url-pattern>
  </filter-mapping>



<!-- ======================================================= =============== -->
<!-- ======================================================= LISTENERS setup -->
<!-- ======================================================= =============== -->

  <!-- ============================================== STRUTS2/TILES listener -->
<!--
  <listener>
    <listener-class>
      org.apache.struts2.tiles.StrutsTilesListener
    </listener-class>
  </listener>
-->
  <!-- ===================================================== SPRING listener -->

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <!-- ===================================================== JAX-WS listener -->
<!--
  <listener>
   <listener-class>
    com.sun.xml.ws.transport.http.servlet.WSServletContextListener
   </listener-class>
  </listener>
-->
  <!-- =========================================== WSContextManager listener -->
<!--
  <listener>
   <listener-class>
    edu.ucla.mbi.proxy.WSContextManager
   </listener-class>
  </listener>
-->

<!-- ======================================================= =============== -->
<!-- ======================================================= Servlet startup -->
<!-- ======================================================= =============== -->

  <!-- ========================================================= WS servlets -->
<!--
  <servlet>
   <servlet-name>psq-webservice</servlet-name>
   <servlet-class>
    com.sun.xml.ws.transport.http.servlet.WSSpringServlet
   </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>psq-ws</servlet-name>
    <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
  </servlet>
-->

  <servlet>
    <servlet-name>cxf</servlet-name>
    <display-name>cxf</display-name>
    <description>Apache CXF Endpoint</description>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>/WEB-INF/spring/cxf.xml</param-value>    
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>


  <!-- ======================================================= SOLR servlets -->

  <servlet>
    <servlet-name>SolrServer</servlet-name>
    <display-name>Solr</display-name>
    <description>Solr Server</description>
    <servlet-class>org.apache.solr.servlet.SolrServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SolrUpdate</servlet-name>
    <display-name>SolrUpdate</display-name>
    <description>Solr Update Handler</description>
    <servlet-class>org.apache.solr.servlet.SolrUpdateServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Logging</servlet-name>
    <servlet-class>org.apache.solr.servlet.LogLevelSelection</servlet-class>
  </servlet>


<!-- ======================================================= =============== -->
<!-- ======================================================= Servlet mapping -->
<!-- ======================================================= =============== -->

  <!-- ========================================================= WS mappings -->
<!--
  <servlet-mapping>
   <servlet-name>psq-ws</servlet-name>
   <url-pattern>/ws</url-pattern>
  </servlet-mapping>
-->

  <servlet-mapping>
    <servlet-name>cxf</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>

  <!-- ======================================================= SOLR mappings -->

  <servlet-mapping>
    <servlet-name>SolrServer</servlet-name>
    <url-pattern>/select/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SolrUpdate</servlet-name>
    <url-pattern>/update/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logging</servlet-name>
    <url-pattern>/solr/admin/logging</url-pattern>
  </servlet-mapping>

<!-- -->
  <servlet-mapping>
    <servlet-name>SolrServer</servlet-name>
    <url-pattern>/solr/select/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>SolrUpdate</servlet-name>
    <url-pattern>/solr/update/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SolrServer</servlet-name>
    <url-pattern>/solr/psq-01/select/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>SolrUpdate</servlet-name>
    <url-pattern>/solr/psq-01/update/*</url-pattern>
  </servlet-mapping>





<!-- ======================================================= =============== -->
<!-- ========================================================== MIME mapping -->
<!-- ======================================================= =============== -->

  <mime-mapping>
   <extension>inc</extension>
   <mime-type>text/plain</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>.xsl</extension>
    <!-- per http://www.w3.org/TR/2006/PR-xslt20-20061121/ -->
    <mime-type>application/xslt+xml</mime-type>
  </mime-mapping>
  
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->

  <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
