<?xml version="1.0" encoding="UTF-8"?>

<!-- ===========================================================================
 ! $HeadURL:: https://lukasz@imex.mbi.ucla.edu/svn/central/trunk/etc/icentral/#$
 ! $Id:: applicationContext.xml 217 2011-06-30 14:11:44Z lukasz                $
 ! Version: $Rev:: 217                                                         $
 !==============================================================================
 !
 ! PSICQUIC Server: application context
 !
 !========================================================================== -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

<!-- ========================================================== CONFIGUATION -->
  
  <bean id="psqConfig" class="org.hupo.psi.mi.psicquic.util.JsonContext">
    <property name="config">
      <map>
        <entry key="json-config" value="etc/psq-context-default.json"/>
      </map>
    </property>
  </bean>

  <bean id="psqContext" class="org.hupo.psi.mi.psicquic.server.PsqContext">
    <property name="psqConfig" ref="psqConfig"/>
    <property name="indexMap">
      <map>
        <entry key="solr" value-ref="solrIndex"/>
      </map>
    </property>
    <property name="storeMap">
      <map>
        <entry key="solr" value-ref="solrStore"/>       
        <entry key="derby" value-ref="derbyStore"/>
        <entry key="hibernate" value-ref="hibernateStore"/>
      </map>
    </property>
  </bean>

<!-- ================================================================= INDEX -->

  <bean id="solrIndex"
        class="org.hupo.psi.mi.psicquic.server.index.solr.SolrRecordIndex">
    <property name="psqContext" ref="psqContext"/> 
  </bean>
 
<!-- ========================================================= DATA STORE(S) -->
  
  <bean id="derbyStore" init-method="initialize" destroy-method="shutdown" 
        class="org.hupo.psi.mi.psicquic.server.store.derby.DerbyRecordStore">
    <property name="psqContext" ref="psqContext"/>      
  </bean>

  <bean id="solrStore" init-method="initialize" destroy-method="shutdown"
        class="org.hupo.psi.mi.psicquic.server.store.solr.SolrRecordStore">
<!--    <property name="psqContext" ref="psqContext"/>  -->
    <property name="solrRecordIndex" ref="solrIndex" />  <!-- index name ??-->
  </bean>

<!-- HibernateRecordStore setup -->
   <import resource="datastore-hibernate.xml"/>

<!-- ======================================================== STRUTS ACTIONS -->
  
  <bean id="recordMgrAction" scope="prototype"
        class="org.hupo.psi.mi.psicquic.server.struts.action.RecordMgrAction">
    <property name="psqContext" ref="psqContext"/>     
  </bean>
 
<!-- ========================================================== WEB SERVICES -->

  <bean id="psq-server" class="org.hupo.psi.mi.psicquic.server.PsicquicServer"
        scope="prototype" init-method="initialize">
    <property name="psqContext" ref="psqContext"/>
  </bean>  

  <bean id="psq-ws-imp" class="org.hupo.psi.mi.psicquic.server.PsicquicSoapImpl"
        scope="prototype" init-method="initialize">
    <property name="psqContext" ref="psqContext"/>
    <property name="psqServer" ref="psq-server"/>
  </bean>  

  <bean id="psq-rs-imp" class="org.hupo.psi.mi.psicquic.server.PsicquicRestImpl"
        scope="prototype" init-method="initialize">
    <property name="psqContext" ref="psqContext"/>
    <property name="psqServer" ref="psq-server"/>
  </bean>  

  <import resource="cxf.xml" /> 

</beans>
