body {
    background-color:#FFFFFF;
    color:#000000;
    font-family:helvetica,"trebuchet MS",arial,sans-serif;
    font-size:9pt;
    margin:0pt;
    padding:0pt;
    width:100%;
}


.AFDefaultFont:alias {
    font-family:helvetica,"trebuchet MS",arial,sans-serif;
    font-weight:normal;
    font-size:9pt;
}

.AFLinkForeground:alias {
    color:#006666;
    text-decoration:underline;
}

.AFActiveLinkForeground:alias {
    color:#E33E3E;
    text-decoration:none;
}

.AFVisitedLinkForeground:alias {
    color:#006666;
    text-decoration:underline;
}

.AFDisabledLinkForeground:alias {
    color: #666666;
    text-decoration: none;
}

a.OraLink:hover {
    color:#E33E3E;
    text-decoration: none;
}

.OraLink:hover::SideMenu {
    text-decoration:underline;
}



/** icons **/
/***********/

.AFHeaderErrorIcon:alias {
    content: url(http://www.ebi.ac.uk/inc/images/info.gif);
    padding-right: 5px;
}

.AFHeaderWarningIcon:alias {
    content: url(/skins/ebi/images/warning.gif);
    padding-right: 5px;
}

.AFHeaderInfoIcon:alias {
    content: url(http://www.ebi.ac.uk/inc/images/info.gif);
    padding-right: 5px;
}

/** images **/
/***********/

a.OraLink img {
    border:0;
}

/*********************************/
/* PANELS                        */
/*********************************/

/** panelHeader **/
/** ----------- **/
af|panelHeader
{
    padding: 4px 4px 4px 6px;
    background-color: #DDDDDD;
    border: 1px solid #999999;
    vertical-align: middle;
}

af|panelHeader::level-one
{
    font-size: 11pt;
    color: #006666;
    padding: 4px;
    background: #eef5f5;
    border: 1px solid #bfbfbf;
    margin: 5px 0px 10px 0px;
    font-weight: bold;
}

af|panelHeader::level-two,
af|panelTabbed::body af|panelHeader::level-one
{
    background:#FFFFFF none repeat scroll 0%;
    border-color:-moz-use-text-color -moz-use-text-color #D9DADC;
    border-style:none none solid;
    border-width:0px 0px 1px;
    color:#1F1F1F;
    font-size:10pt;
    font-weight:bold;
    margin:25px 0px 5px;
    padding:0pt;
}

/** panelForLayout **/
/** -------------- **/

af|panelFormLayout::content-cell {
    white-space:normal;
}

af|panelFormLayout::label-cell {
    font-weight:bold;
}


/** panelBox    **/
/** ----------- **/

/** light (box with header - news style) **/
af|panelBox::light af|panelBox::header,
af|panelBox::light af|panelBox::body {
    border-color: #BFBFBF;
    border-style: solid;
}

af|panelBox::light af|panelBox::header,
af|panelBox::light af|panelBox::body,
af|panelBox::light af|panelBox::content{
    font-size: 8pt;
    position:relative;
}

af|panelBox::light af|panelBox::header {
    background: #EDF6F5 url("http://www.ebi.ac.uk/inc/images/head_blue2d.gif") repeat-x scroll right top;
    border-collapse: collapse;
    border-width: 0px 0px 1px;
    color: #1F1F1F;
    font-weight: bold;
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 3px 4px 4px 5px;
    text-align: left;
}

af|panelBox::light af|panelBox::body {
    border-width: 1px
}

af|panelBox::light af|panelBox::content {
    background: transparent url("http://www.ebi.ac.uk/inc/images/head_blue3b.gif") repeat-x scroll right top;
    margin: 0px 0px 0px 2px;
    padding: 3px 4px 5px;
    vertical-align: top;
}

/** dark (rounded box) **/
af|panelBox::dark af|panelBox::body,
af|panelBox::dark af|panelBox::content,
af|panelBox::dark af|panelBox::top,
af|panelBox::dark af|panelBox::bottom,
af|panelBox::dark af|panelBox::start,
af|panelBox::dark af|panelBox::end {
    background:#EEF5F5 none repeat scroll 0%;
    border-color: #BFBFBF;
    letter-spacing:0;
}

af|panelBox::dark af|panelBox::top {
    border-top-width: 1px;
    border-top-style: solid;
}

af|panelBox::dark af|panelBox::bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

af|panelBox::dark af|panelBox::start {
    border-left-width: 1px;
    border-left-style: solid;
}

af|panelBox::dark af|panelBox::end {
    border-right-width: 1px;
    border-right-style: solid;
}

af|panelBox::dark af|panelBox::top-start,
af|panelBox::dark af|panelBox::top-end:rtl {
  background-image: url(/skins/ebi/images/rounded_TL.gif);
  width:6px;
  height:6px
}

af|panelBox::dark af|panelBox::top-end,
af|panelBox::dark af|panelBox::top-start:rtl {
  background-image: url(/skins/ebi/images/rounded_TR.gif);
  width:6px;
  height:6px
}

af|panelBox::dark af|panelBox::bottom-start,
af|panelBox::dark af|panelBox::bottom-end:rtl {
  background-image: url(/skins/ebi/images/rounded_BL.gif);
  width:6px;
  height:6px
}

af|panelBox::dark af|panelBox::bottom-end,
af|panelBox::dark af|panelBox::bottom-start:rtl {
  background-image: url(/skins/ebi/images/rounded_BR.gif);
  width:6px;
  height:6px
}

af|panelBox::dark af|panelBox::header {
    color: #1F1F1F;
    font-size: 8pt;
    font-weight: bold;
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: left;
}

af|panelBox::header img{
    vertical-align:baseline;
}

af|panelBox::dark af|panelBox::body {
    /*border:1px solid #BFBFBF;*/
    /*border-right:1px solid #BFBFBF;*/
}

af|panelBox::dark af|panelBox::content {
    display:block;
    padding: 2px;
}

/** transparent - dotted **/
af|panelBox::transparent af|panelBox::header,
af|panelBox::transparent af|panelBox::body,
af|panelBox::transparent af|panelBox::content{
    color:#000000;
    font-family:"Courier New",Courier,mono;
    font-size:8pt;
    font-weight:normal;
}

af|panelBox::transparent af|panelBox::body {
    border: 1px dotted rgb(227, 62, 62);
    padding: 6px;
}



/** panelSidebar   **/
/** ----------- **/

af|panelSideBar::body {
    background: white;
    vertical-align: top;
    height:100%;
    padding: 6px;
}

/** panelPage && PAGE  **/
/************************/

af|panelPage::copyright {
   padding: 6px 6px 0 0;
}

af|panelPage::about {
    border-left: 1px solid #DEDEDE;
    padding: 0 6px 0 6px;
}

.pageBody {
    border-left: 1px solid #DEDEDE;
    padding-left: 6px;
}

p|OraContentFooterRule {
    background-color: #DEDEDE;
    border:0;
    height:1px;
}


/** panelLabelAndMessage **/
/**************************/

af|panelLabelAndMessage::label {
    vertical-align:top;
}

/** panelTabbed **/
/*****************/

af|panelTabbed::tab-selected {
    background:white url(http://www.ebi.ac.uk/inc/images/head_bot_blue3b.gif) repeat-x scroll right top;
    border-color:#000000 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0px;
    font-size:13px;
}

af|panelTabbed::tab-selected a span {
    text-decoration:none;
}

af|panelTabbed::tab {
    background:#EDF6F5 url(http://www.ebi.ac.uk/inc/images/head_bot_blue3b.gif) repeat-x scroll right top;
    border:1px solid #999999;
    cursor:pointer;
    font-size:12px;
    height:30px;
    text-decoration:none;
}

af|panelTabbed::cell-end {
    border-bottom-color:#999999;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color:-moz-use-text-color;
    border-left-style:none;
    border-left-width:0px;
    border-right-color:-moz-use-text-color;
    border-right-style:none;
    border-right-width:0px;
    border-top-color:-moz-use-text-color;
    border-top-style:none;
    border-top-width:0px;
    height:30px;
}

af|panelTabbed::separator {
    border-bottom:1px solid #999999;
    padding-left:3px;
}

af|panelTabbed::separator-before-selected,
af|panelTabbed::separator-after-selected{
    border-bottom:1px solid #999999;
    padding-left:3px;
}


/* panelLabelAndMessage */
/************************/

af|panelLabelAndMessage::help-facet {
    color: #96c688;
    background-color:red;
    font-size: 6pt;
}

/** table and column  **/
/************************/

af|column::header-text {
    color: #FFFFFF;
    font-size: 9pt;
    padding: 3px;
    vertical-align: top;

    background-color: #5E9E9E;
    border: 1px solid #ADADAF;
}

af|column::sortable-header-text {
    border: 1px solid #ADADAF;
    text-decoration: underline;
}

af|column::sorted-header-text {
    border: 1px solid #ADADAF;
    text-decoration: underline;
}

.AFSortableHeaderSortIcon {
    color: #FFFFFF;
}

.AFTableCellDataText:alias {
    border: 1px solid #ADADAF;
    font-size: 8pt;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

af|column::cell-text a.OraLink {
    font-size: 8pt;
}

af|column::cell-text {
    background-color:#EDF6F5;
}

af|column::cell-text-band {
    background-color: #FFFFFF;
}

af|column::cell-text,
af|column::cell-text-band {
    vertical-align:top;
}

af|column::cell-text-band a.OraLink {
    font-size: 8pt;
}

/**for compound and target columns **/

.cellTextCompound {
   background-color:#f6faf4;
}

.cellTextTarget {
  background-color: #eef5f5;
}

.cellTextInteraction {
  background-color: #eeeeee;
}


/** breadcrumbs  **/
/******************/

af|breadCrumbs {
    color: #999999;
    display:inline;
    margin:0;
    padding:0 0 0 2px;
}

af|breadCrumbs::step {
    font-size: 8pt;
    font-weight:normal;
    color: #999999;
    text-decoration: none;
}
af|breadCrumbs::step:hover {
    color:#E33E3E;
    text-decoration: underline;
}

af|breadCrumbs::selected-step {
    font-size: 8pt;
    font-weight:bold;
}

af|breadCrumbs::separator-icon {
    content: url(http://www.ebi.ac.uk/inc/images/bread_arrow2.gif);
}


/** navigationPane **/
/********************/

af|navigationPane::list-content {
    font-family:helvetica,Arial,verdana,sans-serif;
    font-size:9pt;
}

af|navigationPane::list-content a {
    color:#006666;
}

af|navigationPane::list-content a:hover {
    color:#E33E3E;
    text-decoration: none;
}

af|panelSideBar::body    af|navigationPane::list-bullet {
    background-image: url(http://www.ebi.ac.uk/inc/images/leftmenu/level1_link.gif);
    background-position: 4px -2px;
    background-repeat:no-repeat;
}

af|panelSideBar::body   af|navigationPane::list-active-enabled af|navigationPane::list-bullet  {
    background-image: url(http://www.ebi.ac.uk/inc/images/leftmenu/level1_minus.gif);
    background-position: 4px -2px;
    background-repeat:no-repeat;
}

/** messages **/
/**************/

af|messages::body,
af|messages::content,
af|messages::top,
af|messages::bottom,
af|messages::start,
af|messages::end {
    background:#EEF5F5 none repeat scroll 0%;
    border-color: #BFBFBF;
    letter-spacing:0;
}

af|messages::top {
    border-top-width: 1px;
    border-top-style: solid;
}

af|messages::bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

af|messages::start {
    border-left-width: 1px;
    border-left-style: solid;
}

af|messages::end {
    border-right-width: 1px;
    border-right-style: solid;
}

af|messages::top-start,
af|messages::top-end:rtl {
  background-image: url(/skins/ebi/images/rounded_TL.gif);
  width:6px;
  height:6px
}

af|messages::top-end,
af|messages::top-start:rtl {
  background-image: url(/skins/ebi/images/rounded_TR.gif);
  width:6px;
  height:6px
}

af|messages::bottom-start,
af|messages::bottom-end:rtl {
  background-image: url(/skins/ebi/images/rounded_BL.gif);
  width:6px;
  height:6px
}

af|messages::bottom-end,
af|messages::bottom-start:rtl {
  background-image: url(/skins/ebi/images/rounded_BR.gif);
  width:6px;
  height:6px
}

af|messages::header {
    color: #1F1F1F;
    font-size: 8pt;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0 0 0;
    text-align: left;
}

af|messages::body {
    background:#EEF5F5 none repeat scroll 0%;
    color: #1F1F1F;
}

af|messages::list-single {
    color: #1F1F1F;
    font-size: 8pt;
}

/** statusIndicator **/
/*********************/

af|statusIndicator::busy {
    right: 0px; top: 0px;
    background-color: red;
    color: white;
    margin: 5px; padding: 3px;
    z-index: 50;

    position: fixed;
}

/* inputText */
/*************/

af|inputText:disabled::content {
    background-color:#dedede;
}

af|inputText:disabled::label {
    color:#dedede;
}

af|inputText::label,
af|inputText:disabled::label{
    vertical-align: top;
}

/* commandButton */
/*****************/
af|commandButton {
    white-space: nowrap;
}


/* other */
/*********/

/*for autocomplete */
.autocomplete-line {
    background-color: #eef5f5;
    cursor:pointer;
}

.autocomplete-selected-line{
    background-color: #bdd7d7;
    cursor:pointer;
}

.autocomplete-button, .autocomplete-button-action{
    border:0px;
    width:22px;
    height:17px;
    background-color: transparent;
    background-image:url(/images/autocomplete-button.gif);
    background-position:top center;
    background-repeat: no-repeat;
    cursor:pointer;
}

.autocomplete-button-action{
    background-image:url(/images/autocomplete-button-action.gif);
}