/* 
   portal.css - global styles for the portal site
*/

/* GENERAL STYLES */

body {
  font-family: sans-serif;
  font-size: medium;
  background-color: white;
  margin: 0px;
  padding: 0 0 50px 0;
}

form {
  margin: 0px;
  padding: 0px;
}

p {
  text-align: left;
  margin-bottom: 12px;
  margin-top: 0px;
}

caption {
  text-align: left;
}
/*
h1 {
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
  padding: 0px;
  margin: 0px 0px 10px 0px;
} 

h2 {
  font-size: medium;
  text-align: left;
  padding: 0px;
  margin: 8px 0px;
}
*/
.pagettl {
  text-align: left;
  padding: 15px 20px 0px 20px;
}

.pagecom {
  text-align: left;
  padding: 5px 20px 0px 20px;
}

.pagecom > div {
  border: 1px solid #44AA44;
  background-color: #DDFFDD;
  text-align; left;
  text-decoration: none;
  width: 15em
  font-size:small;
  padding: 8px 10px 8px 12px;
  margin: 5x 0 0 0; 
}

.pagecom .linkon {
  color: #2020FF;
  text-decoration: underline;
}

.pagecom .linkoff {
  color: #0000EE;
  text-decoration: none;
}

.pagecom img {
  border: 0;
}

.pagebody {
  padding: 0px px 0px 0px;
  font-size: 0.85em;
  background-color: white;
}

.main-page {
  padding: 0px 0px 0px 0px;
}

.content {
  padding: 0px 20px 0px 20px;
}


#index-panel{
  width:15em;
  height:580px;
  background: #FAFAFA;
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 0 1px 1px 0;
  padding-bottom: 1px;
}

.pagebody_record {
  padding: 3px;
  font-size: 0.85em;
  background-color: white;
}

.indent {
  padding-left: 10px;
}

.focus {
  background-color: #e3edff;
  border: 1px solid #5375a8;
  padding: 10px;
  margin-top: 10px;
}

.bottom {}

#footer{
 width: 100%;
 bottom:0;
 position: fixed;
 z-index: 10;
 background-color: #FFFFFF;
}

.footer {
  border-top: 1px solid #5375a8;
  margin: 0px;
  padding: 0px;
}

td.footer {
  border-top: 0px;
  border-bottom: 1px dotted #555566;
}

.footbar {
  background-color: #555566;
  font-size: 0.70em;
  white-space: nowrap;
  border-bottom: 1px solid #555555;
}

.DIP {
  padding: 4px 10px;
  font-weight: bold;
  color: white;
}

.tagline {
  padding: 4px 10px;
  font-style: italic;
  color: #eeeeee;
}

.border {
  border: 1px solid #555566;
}

.t2 {
  border-bottom: 1px solid #555566;
  border-right: 1px solid #555566;
}

.tcell2 {
  border-top: 1px solid #555566;
  border-left: 1px solid #555566;
  padding: 9px 8px;
}

table.detail {
  border: 1px solid #999999;
  background-color: white;
  font-size: 0.9em;
  padding: 12px;
  margin-bottom: 12px;
}

ul.detail {
  margin: 0px;
  padding-left: 2.3em;
  padding-bottom: 12px;
}

table.results {
  border-bottom: 1px solid #5375a8;
  border-right: 1px solid #5375a8;
  background-color: white;
  font-size: 0.8em;
}

table.results_int {
  border-bottom: 1px solid #5375a8;
  border-right: 1px solid #5375a8;
  background-color: white;
  font-size: 0.8em;
}

th.results, td.results, td.results1, 
.results_imex, th.results_int, td.results_int,
.results_mol, .results_core, .results_exp, .results_source {
  border-top: 1px solid #5375a8;
  border-left: 1px solid #5375a8;
  padding: 4px 6px;
}

th.results, th.results_imex, th.results_int,
th.results_mol, th.results_core, th.results_exp, th.results_source {
  color: #444444;
}

th.results {
  background-color: #e3edff;
}

.results1 {
  background-color: #e4e4e4;
}

.results_mol {
  background-color: #e3edff;
}

.results_imex {
  background-color: #f8e0ff;
}

.results_int, results_core {
  background-color: #ffffdd;
}

.results_exp {
  background-color: #d5efc6;
}

.results_source {
  background-color: #dddddd;
}

ol.int_list {
  font-size: 0.9em;
  margin-bottom: 0px;
}

li.int_list {
  padding-bottom: 0.5em;
}

.dipid {
  font-weight: normal;
}

table.data {
}
  
td.data {
}

.header_comments .linkon {
  color: #2020FF;
  text-decoration: underline;
}

.header_comments .linkoff {
  color: #0000EE;
  text-decoration: none;
}

.header_comments img {
  border: 0;
}


.header_comments {
 border: 0;
 text-align; left;
 text-decoration: none;
 width: 15em
 font-size:small;
 padding: 10px 15px 10px 0;

}

.data_header {
  font-size: 1.05em;
  padding: 10px 0px 10px 15px;
  text-align: left;
}

table.data_graphs {
  font-size: 0.7em;
  text-align: center;
  padding-right: 20px;
}

td.data_graphs {
  padding: 10px 15px 10px 0px;
}

.graph_button_labels {
  text-align: right;
  vertical-align: middle;
}

.graph, .lgraph {
  padding: 0px 1px 1px 0px;
  text-align: right;
  vertical-align:bottom;
} 

.lgraph {
  padding: 0px 1px 1px 1px;
}

.graph_help {
  padding: 0px 1px 1px 0px;
  text-align: center;
  vertical-align: bottom;
}

.graph_buttons {
  padding-right: 1px;
  vertical-align: middle;
}

.cytoscape_links {
  text-align: center;
  border: 2px solid #666666;
  background-color: white;
}

.cytoscape {
  padding-right: 3px;
  background-color: #666666;
}

.data_base {
  font-size: 1.05em;
  padding: 15px 15px 20px 15px;
  text-align: left;
}

.data_title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

table.data_mol, table.data_int, table.data_core, table.data_exp,
table.data_source, table.search_result {
  border-color: #A0A0A0;
  border-style: solid;
  border-width: 2px;
  margin: 0 0 2px 0;
}

.data_mol {
  background-color: #adccf6;
}

.data_int, .data_core {
  background-color: #fcfc88;
}

.data_exp {
  background-color: #aee394;
}

.data_source {
  background-color: #b3b3b3;
}

.search_result {
  background-color: #d3d3d3;
}

.search_title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}


table.mol {
  border-bottom: 1px solid #5375a8;
  border-right: 1px solid #5375a8;
  background-color: white
}

th.mol, td.mol, td.mol1 {
  border-left: 1px solid #5375a8;
  text-align: left;
}

th.mol {
  border-top: 1px solid #5375a8;
  border-bottom: 1px solid #5375a8;
  background-color: #e3edff;
  padding: 4px 10px;
}

td.mol {
  padding: 3px 25px;
}

td.mol1 {
  background-color: #eeeeee;
}

th.int, td.int {
  padding-top: 12px;
  padding-left: 12px;
  vertical-align: top;
}

/* FRONT (MAIN) PAGE STYLES */

.mpmenus {
  background-color: white;
}

.maintable {
  padding: 0px 25px 0px 25px;
}

.ftitle {
  background-color:  #e3edff;
  border-bottom: 1px solid #5375a8;
  padding: 1px 10px;
  width:   100%;
  text-align: center; 
  font-size: medium;
}

.fview {
  width:   100%;
  text-align: left; 
  font-size: 0.8em;
  padding: 8px;
}

.flink {
  width:   100%;
  text-align: right; 
  font-size: 0.8em;
  padding: 0px 8px 8px 8px;
}

.nview {
  width:   100%;
  text-align: left; 
  font-size: 0.8em;
  padding: 8px 8px 0px 8px;
}

.cview {
  width:   100%;
  text-align: left; 
  font-size: 0.9em;
  padding: 8px 8px 0px 8px;
}

.clist {
  margin: 0.3em 0 1.2em 0;
}

.cview-wrap {
  width:   100%;
  text-align: left; 
  font-size: 0.8em;
  padding: 8px;
  white-space: normal;
}

.fbcell {
  width:   35%;
  text-align: right; 
  font-size: 0.8em;
  font-weight: bold;
  padding: 8px 25px 8px 25px;
}

.fcell{
  width:   65%;
  text-align: left; 
  font-size: 0.8em;
  padding: 8px;
}

.fspacer { 
  padding:  12px;
}

.fs {
  background-color:  #e3edff;
  padding: 0px;
  border: 1px solid #5375a8;
  width:   100%;
  text-align: left;
  vertical-align: top;
}

.fstitle {
  background-color:  #ffff99;
  margin:  0px;
  padding: 4px 10px 2px 10px;
  border-bottom: 1px solid #5375a8;
  width:   100%;
  font-size:  large;
  font-weight: bold;
}

.fsbody {
  margin:  0px;
  padding: 8px 10px 4px 12px;
  font-size: smaller;
}

.fsbody2 {
  margin:  0px;
  padding: 8px 4px 4px 12px;
  font-size: smaller;
}


.fqtitle {
  padding: 1px 10px;
  width:   100%;
  text-align: left; 
  font-size: 1.5em;
  font-weight: bold;
  height: 2.5em;
}

.fqbody1{
  height: 2.5em;
  text-align: left;
  font-size: 0.9em;
  padding: 8px;
}

.fqbody2{
  height: 8.5em;
  width:   100%;
  text-align: left;
  font-size: 0.9em;
  padding: 8px;
  white-space: normal;
}

.fqfoot{
  margin:  0px;
  padding: 8px 4px 4px 12px;
  font-size: 0.9em;
  height: 1.5em;
}


.fttitle {
  padding: 1px 10px;
  width:   100%;
  text-align: center; 
  font-size: medium;
  height: 2em;
}

.ftbody{
  height: 13.5em;
  width:   100%;
  text-align: left;
  font-size: 0.9em;
  padding: 8px;
}

.ftfoot{
  margin:  0px;
  padding: 8px 4px 4px 12px;
  font-size: smaller;
  height: 1.5em;
}


.fbtitle {
  padding: 1px 10px;
  width:   100%;
  text-align: center; 
  font-size: medium;
  height: 2em;
}

.fbbody{
  height: 18em;
  width:   100%;
  text-align: left;
  font-size: 0.9em;
  padding: 8px;
}

.fbfoot{
  margin:  0px;
  padding: 8px 4px 4px 12px;
  font-size: 0.9em;
  height: 1.5em;
}



.fstrh {
  //height: 180px;
}

.fsbrh {
  //height: 250px;
}




.flinks {
  font-size: 0.95em;
  white-space: nowrap;
  padding: 0px;
  padding-right: 5px;
}

.flinksmid {
  font-size: 0.95em;
  white-space: nowrap;
  padding: 10px 5px 10px 0px;
}

.fnews {
 
}

.fnews-date {
 font-weight: bold;
 padding: 0 0 0 0.3em;
}

.fnews-head {
  padding: 0 0 0.3em 1.2em;
}

.udev {
 border: 2px dashed #4455aa;
 background-color: #e3edff;
 color: #8899cc;
 font-size: 1.1em;
 margin: 2em 5em 0 5em;
 padding: 2em;
}

.aclerror {
  border: 2px solid #dd0000;
  background-color: #ffdddd;
  color: #dd0000;
  text-align: center;
  font-size: 1.8em;
  margin: 2em 5em 0 5em;
  padding: 2em;
}

.ex_search {
  white-space: nowrap;
}

/* PAGE BODY TAB STYLES (ex: Download pages) */

.ttab {                           /* unselected tab */
  border-bottom: 1px solid #5375a8;
  padding: 3pt 6pt;
  font-size:      small;
}

.tlnk {
  color: #777777;
}

.tlnkon {                         /* selected tab */
  color: #446099;
  text-decoration: none;
}

.ttabon {                         /* selected tab in multi-layer */
  border-right: 1px solid #5375a8;
  border-left:  1px solid #5375a8;
  border-top:   1px solid #5375a8;
  padding: 3pt 6pt;
  font-size: small;
  background-color: #eeeeee;
}

.tcont {
  border-left:   1px solid #5375a8;
  border-right:  1px solid #5375a8;
  border-bottom: 1px solid #5375a8;
  padding: 15px;
  background-color: #eeeeee;
}

.ttabon_int {                         /* selected interaction tab */
  border-right: 1px solid #5375a8;
  border-left:  1px solid #5375a8;
  border-top:   1px solid #5375a8;
  padding: 3pt 6pt;
  font-size: small;
  background-color: #f6f6f6;
}

.tcont_int {
  border-left:   1px solid #5375a8;
  border-right:  1px solid #5375a8;
  border-bottom: 1px solid #5375a8;
  padding: 10px;
  background-color: #f6f6f6;
}

.ttabon_mol {                         /* selected molecule tab */
  border-right: 1px solid #5375a8;
  border-left:  1px solid #5375a8;
  border-top:   1px solid #5375a8;
  padding: 3pt 6pt;
  font-size: small;
  background-color: #ccddff;
}

.tcont_mol {
  border-left:   1px solid #5375a8;
  border-right:  1px solid #5375a8;
  border-bottom: 1px solid #5375a8;
  padding: 10px;
  background-color: #ccddff;
}

/* Are these needed? */
.htab {
  border-bottom: 1px solid black;
  padding-left:  5pt;
  padding-right: 5pt;
  font-size: small;
}

.tspacer {
  border-bottom: 1px solid black;
}

.hlnk {
  color:     #555566;
  font-size:   small;
}

.tpane {
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  margin-top: 10px;
}
/*--------------------*/

.ctitle {
  font-family: sans-serif;
  font-size: large;
  font-weight: bold; 
  text-align: left;
  white-space: nowrap;
}

.form_descr {
  padding: 4px 0px 10px 0px;
}

.fxn {
  border: 1px solid #5375a8;
  background-color: #edf4ff;
  padding: 8px;
}

.tcell {
  padding: 7px 5px;
  font-family: sans-serif;
}

.tou {
  border: 1px solid #5375a8;
  padding: 2px 2px 2px 0px;
 }

.indent {
  margin-left: 30px;
}

.newstitle {
  font-family:       sans-serif;
  font-size:            large;
  font-weight: bold; 
  text-align:left;
  white-space: nowrap;
}

.newsauth {
  font-family:       sans-serif;
  font-size:            large;
  text-align:right;
  white-space: nowrap;
}

.account {
  margin:  0px;
  padding: 0px;
  width:   100%;
  text-align: right; 
}

.acccell {
  margin:  0px;
  padding: 0px;
  text-align: right;
  font-size: 8pt;
  font-family: sans-serif;
  white-space: nowrap;  
  font-weight: bold;
  color: #999999;
}



.acccellmain {
  margin:  0px;
  padding: 0px;
  text-align: right;
  font-size: 8pt;
  font-family: sans-serif;
  white-space: nowrap;  
  font-weight: bold;
  color: #888888;
}

.mainheader {
  border-bottom: 1px solid #7090bb;
  background-color:  white;
  padding: 2px 2px 2px 2px;
  font-family: serif;
  width:   100%;
  text-align: center; 
  vertical-align: middle;  
}

.header {
  border-bottom: 2px solid #ffff88;
  background-color:  white;
  padding: 10px 10px 10px 10px;
  font-size: 0.85em;
  font-family: serif;
  width:   100%;
  text-align: center; 
  vertical-align: middle;  
}

.menulogo {
  border-right: 1px solid #5375a8;
  border-bottom: 1px solid #5375a8;
  background-color: white
}

.logo {
  padding: 9px 10px 5px 10px;
}

}
.mainheadcell {
  margin-right:       5px;
  padding-left:       9px;
  padding-right:      7px;
  text-align:        left; 
  vertical-align:  middle;    
  font-size:          3em;
}

.headcell {
  background-color: white;
  padding: 4px 15px;
  vertical-align:     top;    
}

.headimg {
  background-color: white;
  padding: 4px 10px 1px 10px;
  text-align:        left; 
  vertical-align:  middle;   
}

.imex {
  border: 1px solid #5375a8;
  background-color:  white;
  margin-top:    2px;
  margin-bottom:  2px;
  padding:    2px;
  width:   100%;
  text-align: center; 
  font-size: 7.5pt;
  vertical-align: middle; 
  font-family:  sans-serif;
  color: #5375a8;  
  font-weight: bold;
}

.imexfooter {
  background-color: white;
  border-right: 0px dotted #5375a8;
  border-left: 1px dotted #5375a8;
  border-bottom: 1px dotted #5375a8;
  padding-right: 8px;
  padding-left: 4px;
  color: #5375a8;
  font-weight: bold;
  font-size: 7.5pt;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
}

.bheader {
  border-top: thin solid rgb(0%,0%,0%);
  margin:  0px;
  padding: 1px;
  text-align: center; 
  font-style: italic;
  vertical-align: middle; 
}

.tmainmenu {
  font-family: sans-serif;
  border: 0px solid black;
  background-color: #99BBEE;
  margin:  0px;
  padding: 0px;
  text-align: center; 
  vertical-align: top; 
}

.mainmenu {
  border: 0px solid black;
  background-color: #99BBEE;
  margin:  0px;
  padding-left: 10px;
  text-align: center; 
  vertical-align: middle<;   
}

.login {
  border: 1px solid black;
  background-color: #DDAADD;
  margin:  0px;
  padding: 5px;
  text-align: right; 
  vertical-align: middle; 
}

.clogin {
  border: 1px solid #5375a8;
  margin:  0px;
  padding: 5px;
  font-family: sans-serif;
  background-color: #e3edff;
}

.clogin1 {
  border: 1px solid #5375a8;
  margin:  0px;
  padding: 5px;
  font-family: sans-serif;
  background-color: #ffffff;
}

.captcha1 {
  border: 1px solid #5375a8;
  margin:  0px;
  padding: 5px;
  font-family: sans-serif;
  background-color: #ffffff;
}
 
img.main {
  border: 1px solid #5375a8;
}

.submit {
  border: 1px solid black;
  background-color: #DDAADD;
  margin:  0px;
  padding: 5px;
  text-align: right; 
  vertical-align: middle; 
}

.mmsecttop {
  border: 0px solid black;
  background-color: #99BBEE;
  padding-top: 20px;
  font-size: 1em;
  font-weight: bolder;
  text-align: left; 
  white-space: nowrap;
  vertical-align: middle; 
}

.mmsect {
  border: 0px solid black;
  background-color: #99BBEE;
  padding-top: 10px;
  font-size: 1em;
  font-weight: bolder;
  text-align: left; 
  white-space: nowrap;
  vertical-align: middle; 
}

.mmitem {
  border: 0px solid black;
  background-color: #99BBEE;
  margin:  0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1em;
  text-align: left; 
  text-indent: 1em;
  white-space: nowrap;
  vertical-align: middle; 
  font-size: 0.85em; 
}

.mmlnk {
  color: white;
  text-decoration: none; 
}

.mmitemon {
  border: 0px solid black;
  color: white;
  margin:  0px;
  padding: 0px;
  text-align: left;
  text-indent: 1em; 
  white-space: nowrap;
  vertical-align: middle; 
  font-size: 0.85em;
  padding-right: 1em;
}

.topmenu {
  background-color: #446099;
}

.maintopmenu {
  background-color: #446099;
  border-bottom: 4px solid black;
}

.topmenutab {
  border: 0px solid rgb(20%,20%,40%);
  margin-top:  0px;
  padding: 3px;
  text-align: center; 
  vertical-align: bottom; 
}

.topmenutabon {
  border: thin solid #555566;
  margin-top:  0px;
  padding: 3px;
  text-align: center;
  vertical-align: bottom; 
}

.topmenulink {
  color: white;
  text-decoration: none;
}

.topmenulinkon {
  color: black;
  text-decoration: none;
}

.corner {
  border-top:  thick solid #99BBEE;
  margin:  0px;
  padding: 0px;  
}

.midmenu {
  background-color: #99bbee;
  font-family: sans-serif;
}

.menutab {
  margin-top:  0px;
  padding-right: 10px;
  padding-left: 3px;
  text-align: center; 
  vertical-align: middle; 
}

.midmenutab {
  text-align: center; 
  vertical-align: bottom; 
}

.midmenutabon {
  text-align: center; 
  vertical-align: bottom; 
}

.btmmenutab {
  text-align: left;
  vertical-align: bottom; 
}

.btmmenutabon {
  text-align: left; 
  vertical-align: bottom; 
}

.btmmenu {
  background-color: #e3edff;
  text-align: center; 
  font-family: sans-serif;
  vertical-align: bottom; 
}

.btmsearch {
  background-color: #e3edff;
  color: white;
  text-align: center; 
  font-family: sans-serif;
  vertical-align: middle; 
  border-bottom: 1px solid #555566;
}

.btmsearchtab {
  padding: 0px 4px 0px 4px;
  text-align: center; 
  font-family: sans-serif;
  vertical-align: middle; 
  white-space: nowrap;
}

.midmenulink {
  color: black;
  text-decoration: none;
}

.midmenulinkon {
  color: black;
  text-decoration: none;
}

.btmmenulink {
  color: black;
  text-decoration: none;
}

a.disabled {
  color: #99AACC;
}

.btmmenulinkon {
  color: black;
  text-decoration: none;
}

.bodycell {
  border-top: thick solid rgb(100%,100%,0%); 
}

.mainmenuoff {
  border-top: thick solid rgb(100%,100%,0%); 
}

.citation {
  font-size: 0.70em;
  padding: 5px 10px;
  text-align: left; 
  vertical-align: middle; 
  color: #333333;
  border-bottom: 1px dotted #5375a8;
}

.copyright {
  font-size: 0.65em;
  color: #888888;
  padding: 3px;
  text-align: left; 
  vertical-align: middle; 
}

.copyright2 {
  border-bottom: 0px dotted #5375a8;
  font-size: 0.60em;
  color: #777777;
  padding: 5px 10px;
  text-align: left; 
  vertical-align: middle; 
}

.version2 {
  border-bottom: 0px dotted #5375a8;
  font-size: 0.60em;
  color: #777777;
  padding: 5px 10px;
  text-align: right; 
  vertical-align: middle; 
}

.note {
  font-size: 0.85em;
  font-style: italic;
}

/*
.tcell
{
 border: 0px solid black;
 background-color: #CCDDFF;
 margin:  0px;
 padding: 3px; 
 vertical-align: middle; 
  
}
*/

TABLE.TG { background-color:  #99BBEE; }
          
TABLE.TBF {
           border-style: solid;
           border-color: black;
           border-width: 1pt;
           padding: 5pt;
           background-color:  #FFFFFF;
          }
          
TABLE.TBY {
           border-style: solid;
           border-color: black;
           border-width: 1pt;
           padding: 5pt;
           background-color:  #FFFF99;
          }
          
TD.TDH    {      

           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  white;
          }
          
TD.TTBY    {        
           font-family: sans-serif;
           font-size: larger;
           font-weight:    normal;
           vertical-align: middle;
           padding: 10pt;
           text-align: center;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }

TH.TTBY    {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           vertical-align: middle;
           padding: 10pt;
           text-align: center;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }

TD.TTY    {        
           font-family: sans-serif;
           font-size: larger;
           padding: 7pt;
           text-align: left;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }

TD.TTBB   {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           vertical-align: middle;
           padding: 10pt;
           text-align: center;
           border-width: 0px;
          }

TH.TTBB   {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           vertical-align: middle;
           padding:        10pt;
           text-align:     center;
           border-style:   solid; 
           border-color:   black; 
           border-width:   1pt;
           background-color:  #CCDDFF;
          }

.TTB   {        
           color: black; 
           font-size:      larger;
           font-weight:    normal;
           padding:        7pt;
           margin: 0px;
          }


TD.TF   {        
           border-style:   solid; 
           border-color:   black; 
           border-width:   1pt;
          }


TD.TDY    {        
           font-family: sans-serif;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }
          
TD.TDM    {        
           border-style: solid; 
           border-color: #5375a8; 
           border-width: 1px;
           vertical-align: top;
          }


TD.TDMC  {        
            text-align: left;
         }

TD.TDMC_ACT {       
             text-align:        left;
             color: white;  
            }

TR.TRMC_ACT {       
             text-align:        left;
             background-color:  #99BBEE;
            }
          
TD.TDF    {        
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #99BBEE;
          }
          
TH.THH    {
           background-color:  #CCDDFF;
          }

TD.TDF {border-style: solid; border-color: black; border-width: 1pt;}
TH.THF {border-style: solid; border-color: black; border-width: 1pt;}

/* MENU STYLES */

table.mainmenu1 {			/* main (front) page */
  background-color:#446099;
  border-bottom: 4px solid #99bbee;
  color: white;
}

table.mainmenubtm {
  border-top: 4px solid #e3edff;
}

//table.menu1_background {		/* top menu (menu1) */
  //border-top: 5px solid #446099; 
  //background-color:#446099;
//}

td.menu1first, td.menu1, td.menu1select, td.menu1last, td.menu1blank {
  font-size: 0.75em;
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
  padding: 1px 8px;
}

td.menu1first {
  padding: 0px 4px;
  border-right: 1px solid #224477;
}

td.menu1 {
  color: white;
  border-right: 1px solid #224477; 
  border-left: 1px solid #7090bb;
}

td.menu1select {
  background-color:#99bbee; 
  border-right: 1px solid #bbccee;
  border-top: 1px solid #7799cc;
  border-left: 1px solid #7799cc;
}

td.menu1last {
  color: white;
  border-left: 1px solid #7090bb;
}

td.menu1blank {
  padding: 1px 5px;
}

table.menu2_background {		/* mid menu (menu2) */
  border-top: 5px solid #99bbee;
  background-color:#99bbee;
}

td.menu2first, td.menu2, td.menu2select, td.menu2last, td.menu2blank {
  font-size: 0.75em;
  text-align: center;
  padding: 3px 8px;
}

td.menu2first {
  padding: 0px 8px;
  border-right: 1px solid #7799cc;
}

td.menu2 {
  border-right: 1px solid #7799cc; 
  border-left: 1px solid #bbccee;
}

td.menu2select {
  color: white;
  background-color: #e3edff; 
  border-top:    1px solid #bbccee; 
  border-right:   1px solid white; 
  border-left:  1px solid #bbccee;
}

td.menu2last {
  border-left: 1px solid #bbccee;
}

td.menu2blank {
  padding: 3px 5px;
  font-weight: bold;
}

table.menu3_background {		/* bottom menu (menu3) */
  border-top: 5px solid #e3edff;
  background-color:     #e3edff;
}

td.menu3first, td.menu3, td.menu3select, td.menu3last, td.menu3blank, td.menu3null {
  font-size: 0.75em;
  text-align: center;
  padding: 3px 8px;
}

td.menu3first, td.menu3, td.menu3last, td.menu3null {
  border-bottom: 1px solid #5375a8;
} 

td.menu3first {
  padding: 0px 12px;
  border-right: 1px solid #bbccee;
}

td.menu3 {
  border-top:    1px solid #e3edff; 
  border-left:   1px solid white; 
  border-right:  1px solid #bbccee;
}

td.menu3select {
  background-color: white; 
  border-top:    1px solid #5375a8; 
  border-left:   1px solid #5375a8; 
  border-right:  1px solid #5375a8;
}

td.menu3last
{
  border-top:    1px solid #e3edff; 
  border-left:   1px solid white; 
}

td.menu3blank {
  padding: 3px 5px;
  border-top:    1px solid #e3edff;
}

td.menu3null {
  background-color: #e3edff;
  border-top:    1px solid #e3edff;
}

/*-------------------------------*/

.margin {
  padding-left:10px; 
  padding-right:10px;
}

.margin-left {
  padding-left:10pt;
}

.margin-right {
  padding-right:10pt;
}

img.core {
  padding: 10px 0px 10px 10px;
  float: right;
}

img.interact {
  padding: 10px;
  border: 1px solid #555566;
  margin: 10px 0px;
}

li.list {
  padding-bottom: 5px;
}

.mp {
  vertical-align: top;
  padding: 10px 8px;
}
 
th.mp {
  white-space: nowrap;
}

table.dstable {
  background-color:     white;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #5375a8;
}

td.dsheader {
  padding: 5px;
  background-color:     #e3edff;
  text-align:center;
  font-family:sans-serif;
  white-space: nowrap;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #5375a8;
}

td.dsheaderA {
  padding: 3px;
  background-color:     #ffffff;
  text-align:center;
  font-family:sans-serif;
  white-space: nowrap; 
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #5375a8;

}

td.dsheaderB {
  padding: 3px;
  background-color:     #f0f2f6;
  text-align:center;
  font-family:sans-serif;
  white-space: nowrap; 
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #5375a8;

}

td.dscellB {
  background-color:     #f0f0f0;
  text-align:center;
  font-family:sans-serif;
  white-space: nowrap; 
}

td.dscell {
  background-color:     #ffffff;
  text-align:center;
  font-family:sans-serif;
  white-space: nowrap; 
}

td.dsfile {
  background-color:     #ffffff;
  text-align:center;
  font-family: monospace;
  white-space: nowrap; 
}

td.dsfileB {
  background-color:     #f0f0f0;
  text-align:center;
  font-family: monospace;
  white-space: nowrap; 
}

/*-------------
   LINK STYLES
  -------------*/

.sm {
  color:black;
}

.over {
  color:blue;
}

.out {
  color:black;
}

a.MON {                            /* menus */
  color: white;
  text-decoration: underline;
}

a.MOFF {
  color: white;
  text-decoration: none;
}

a.acMON {                          /* account menu */
  color: #aaaaaa;
  text-decoration: underline; 
}

a.acMOFF {
  color: #aaaaaa; 
  text-decoration: none;
} 

a.acmain { color: #999999; }

a.mmMON {    color: black;           /* middle menu */
  text-decoration: underline;
}

a.mmMOFF {    color: black; 
  text-decoration:none;
}

a.bmMON  {    color: black;        /* bottom menu */
  text-decoration: underline;
}

a.bmMOFF {    color: black; 
  text-decoration: none;
}

a.graph {
  border: 0px;
}

.layout-body {
  width: 97%;
}

.news-container{
 margin:5px;
}

.news-tab {
 min-height: 550px;
 background-color: #FFFFFF;
}

#newscontainer .yui-content {
 background-color: #FFFFFF;
}

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
   background-color:#AAAAFF !important; //reCaptcha widget background color
 }
 
 #recaptcha_table {
   border-color: #AAAAFF !important; //reCaptcha widget border color
 }
 
 #recaptcha_response_field {
   border-color: #AAAAFF !important; //Text input field border color
   background-color:#AAAAFF !important; //Text input field background color
 }

.ackicon {
  padding: 0px 5px 0px 25px;
}
.acktxt {
  padding: 0px 0px 0px 30px;
}

.upage {
  background:#ffdddd;
  color:#880000;
  margin:10px 0px 0px 0px;
  padding:1em;
  border-color:#FF0000;
  border-style: solid;
  border-width: 1px;
}

.pgerror {
  background:#ffdddd;
  color:#880000;
  margin:10px 0px 0px 0px;
  padding:1em;
}

.file {
 background-color:#eeedff;
 border: 1px dashed #444444
}

.stat-container {
 margin: 5px;
 background-color:#ffffff;
 font-size: 0.7em; 
}

#stat-content {
  background-color:#ffffff;
}

.stat-tab {
  min-height: 550px;
  padding: 3px 0px 0px 0px;
  background-color:#ffffff;
  font-size: 0.7em; 
}

.stat-sum-tbl {
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #5375A8;
}

.stat-sum-row {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #5375A8;
  padding:0 5px 8px 5px;  
}

.stat-sum-crow {
  border-width: 0 0 0px 0;
  border-style: solid;
  border-color: #5375A8;
  padding:0 5px 8px 5px;  
}

.stat-sum-brow {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #5375A8;
  padding:0 5px 8px 5px;  
}

.stat-sum-bottom {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #5375A8;
  padding:0 5px 8px 5px;  
}

.stat-sum-header {
  background-color:#e3edff;  
  padding:5px;
  margin:1px;
  font-size: 0.7em;
  text-align: center;
  border-width: 0px 1px 1px 0px;
  border-color: #5375A8;
  border-style: solid;  
}

.stat-spc-tbl {
 border-width: 1px 0px 1px 1px;
 border-style: solid;
 border-color: #5375A8;
}

.stat-spc-tbl-odd {
  background-color: #f0f2f6;
}

.stat-spc-header {
  background-color:#e3edff;  
  padding:0.75em;
  margin:1px;
  font-size: 0.7em;
  text-align: center;
  border-width: 0px 1px 1px 0px;
  border-color: #5375A8;
  border-style: solid;  
}

.stat-spc-org {
  padding:0.7em; 
  font-size:0.7em;
  text-align:center;
  border-width: 0px 1px 0px 0px;
  border-color: #5375A8;
  border-style: solid; 
}

.stat-spc-num {
  padding:0.7em;
  font-size:0.7em;
  text-align:center;
  border-width: 0px 1px 0px 0px;
  border-color: #5375A8;
  border-style: solid;
}

.stat-spc-det {
  padding:0.7em;
  font-size:0.7em;
  text-align:center;
  border-width: 0px 1px 0px 0px;
  border-color: #5375A8;
  border-style: solid;
}


.mgr-body {
  padding: 1em 0 0 0;
}


.img-lst-tbl{
  padding: 6px;
  border: 0;  
}

.img-lst-tbl tr{
  border: 0;  
}

.img-lst-tbl tr{
  border: 0;  
}


.img-lst-tbl-td {
  background-color: #AACCFF;
  border-color: #7F7F7F;
  border-style: solid;    
  border-width: 1px;
  padding: 0px;
  margin: 0px;  
}

.img-lst-tbl-bd {
  border-style: solid;
  border-width: 0px;
  padding: 0px;
  margin: 0px;  
}


#image-table .yui-dt-hd table {
 width: 99%;
}

#image-table .yui-dt-bd table {
 width: 100%;
}

#image-table .yui-dt-col-global  {
 align:center;
}

#image-table .yui-dt-col-global .yui-dt-liner  {
 text-align:center;
}

#image-table .yui-dt-col-skin  {
 text-align:center;
}

#image-table .yui-dt-col-skin .yui-dt-liner  {
 text-align:center;
}


.modal-panel-ip{
  background: #F0FFF0 !important;
}


.image-preview{
  height: 100%;
  background: #F0FFF0;
  border: 1px solid #7F7F7F;
}

.image-preview-tbl {
  border-style: solid;
  border-width: 0px;
  border-color:#7F7F7F;
}

.image-preview-th { 
  font-family: monospace;
  text-align:center;
  padding: 0.6em; 
  border-width: 1px;
  border-style: solid;
  border-color: #7F7F7F;
  background: #F0F0F0;
}

.image-preview-td { 
  text-align:center;
  padding: 1.2em;
  border-width: 0px;
}

.att-body {
  padding: 0px 1.5em 0px 1.5em;
}

#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.content table {
	border: 1px lightGrey;
	border-spacing: 0;
}
