<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Factory to create the dynamic proxy for client -->
	<bean id="psicquicFactory"
		class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass"
			value="org.hupo.psi.mi.psicquic.PsicquicService" />
		<property name="address"
			value="http://localhost:8080/psicquic-ws/webservices/psicquic" />
	</bean>

	<!--  Web service dynamic proxy -->
	<bean id="psicquicServiceClient" class="uk.ac.ebi.intact.psicquic.ws.PsicquicServiceImpl"
		factory-bean="psicquicFactory" factory-method="create" />

</beans>